.contact-container {
  margin: 4rem 0;
  position: relative;
}

.contact-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.contact-container::before {
  content: " ";
  width: 25.125rem;
  height: 25.125rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  left: -7rem;
  bottom: -5rem;
  z-index: 0;
  filter: blur(170px);
}

.contact-content {
  display: flex;
  gap: 3rem;
  z-index: 1;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column-reverse;
  }

  .contact-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}
